.place{
  margin: 50px 0;
}
.place-descrptn{
  max-width: 50%;
  margin: auto;
  padding: 0 15px;
  h3{
    padding-bottom: 10px;
  }
  p{
    text-align: justify;
    font-size: 15px;
  }
}
.diff-prices{
  max-width: 800px;
  margin:100px auto 20px auto;
  padding: 0 15px;
  &-item{
    &:last-child{
      border-bottom: 1px solid #999;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    padding: 15px;
    .place-item-left{
      display: flex;
      align-items: center;
      .companyLogo{
        img{
          height: 20px;
        }
      }
      .place-option{
        margin-left: 20px;
        span{
          font-size: 16px;
        }
      }
    }
    .place-item-left{
      display: flex;
      align-items: center;
      .room-price{
        margin-right: 20px;
      }
      button{
        border: none;
        background-color: #1C2833;
        padding: 7px 10px;
        color: white;
        cursor: pointer;
      }
    }
  }
}
.place-features{
  max-width: 800px;
  margin: auto;
  padding:  0 15px;
  table {
  border-collapse: collapse;
  width: 100%;
  tr{
    & :first-child{
      font-weight: bold;
    }
  }
}

td, th {
  text-align: left;
  padding: 8px;
}

}